/* @import '@fontsource/fira-mono'; */
@import url("https://fonts.googleapis.com/css2?family=Judson&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Noto+Serif:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-col: #edf2f4;
  --secondary-col: #192a51;
  --accent-col: #ffb703;

  --primary-ink: #000000;
  --accent-ink: #ffb703;

  --primary-font: "Noto-sans", "Judson", serif;

  font-family: "Noto-sans", "Judson", serif;
  font-family: "Roboto", "Ubuntu", sans-serif;

}